.Main-body {
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ScrollNT-embed {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 90vh;
  width: 40vw;
}

.Qualtrics-embed {
  height: 90vh;
  width: 50vw;
}

.Bootleg-mouse-tracker {
  position: fixed;
  width: 95vw;
  height: 90vh;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.1);
}

.Bootleg-mouse-tracker:hover {
  pointer-events: auto;
  position: fixed;
  width: 95vw;
  height: 90vh;
  z-index: 100;
  background-color: rgba(243, 6, 6, 0.1);
}