.Main-body {
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ScrollNT-embed {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 90vh;
  width: 40vw;
  pointer-events: none;
}

.Qualtrics-embed {
  height: 90vh;
  width: 50vw;
  pointer-events: none;
}
