.Start-btn {
  margin: 5vw;
  background-color: blue;
  height: 10vh;
  width: 30vw;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 10px;
  align-self: center;
}

.Start-body {
  display: flex;
  flex-direction: column;
}
